.green-style{
    background-color: #39ac39;
}
.red-style{
    background-color: #ffff1a;
}
.table-style{
    text-align: right;
    margin-top: 30px;
    background-color: white;
}

.table-style-image{
    text-align: center;
    
}
.align-right{
    text-align: right;
}
.gray-style{
    opacity: 0.3;
}
.margin-top-container{
    margin-top: 20px;
}

.table-header{
    background-color: #d9d9d9;
    text-align: center;
}

.style-center{
    text-align: center;

}