
  
  .row-background{
    // background-color: beige;
    background-image: url("../../Assets/test.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    //     margin-left: calc((100vw - 100%) / -2) !important;
    // padding-left: calc((100vw - 100%) / 2);
    // margin-right: calc((100vw - 100%) / -2) !important;
    // padding-right: calc((100vw - 100%) / 2);
  }
  

  