.table-style{
    text-align: right;
    margin-top: 30px;
    background-color: white;

}
.margin-top-container{
    margin-top: 20px;
}
.align-none{
    margin-top: 20px;
    text-align: center;
}

.table-header{
    background-color: #d9d9d9;
}