@import '../../Constants/colors.scss';

::placeholder{
    text-align: right;
}
.register-link{
    color: $register-link;
    &:hover{
        cursor: pointer;
    }
}
.margin-cart{
    margin-right: 15px;
}
.margin{
    margin-top: 30px;
}

.margin-sound{
    margin-top: 10px;
}

.form-margin-top{
    margin-top: 20px;
}